.App-title {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 10px;
}
.save-btn {
    float: right;
    margin-right: 10%;
    font-size: initial;
}
#editorjs {
    padding: 10px 20px;
}